.bg-redeasy{
    background: transparent !important;
}

.logo{
    max-width: 13%;
}
.w{
    width: 1000px;
}
.navbar{
    padding: 1.2rem 1rem !important;
    font-size: 1em;
    text-transform: uppercase;
}


.navbar {
    box-shadow: none !important

}

.nav-link {
    position: relative;
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #DF42B1;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-item :hover{
    color: #DF42B1 !important;
}
.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbarr{
    width: 80% !important;
    background: #151853 !important;
    margin: auto;
}

.footer-copyright{
    background: #161C27;
}

footer{
    background: #1C2331;
    color: white;
}

.btn-white{
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
}

.btn-white a ::placeholder{
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
}

.rod{
    background: #151853;
}

.exemplo{
    width: 60px;
}

.deep-purplee{
    background: #151853;
}

@media screen and (max-width: 768px){
    .w{
        width: 500px;
    }
}

@media screen and (max-width: 425px){
    .w{
        width: 200px;
    }
    .logo{
        width: 100% !important;
    }
}