
@media screen and (max-width: 1024px){
  .padding{
    padding: 0 0 0 100px;
  }
}

@media screen and (max-width: 768px){
    .padding{
      padding: 0 0 0 50px;
    }
  }

@media screen and (max-width: 375px){
  .padding{
    padding: 0 0 0 50px;
  }
}
